

.team2-error {
    horiz-align: left;
}

.point-name {
    horiz-align: center;
    text-align: center;
}

.stat-table .team1{
    width: 35%;
    text-align: right;
}

.stat-table .team2{
    width: 35%;
    text-align: left;
}

#game-tables {
    width: 25%; display: inline-block; *display: inline;
}

#stats-div {
    width: 74%; display: inline-block; vertical-align: top; horiz-align: center; padding-left: 20px
}

.stat-table {
    display: inline-block; *display: inline;
    width: 45%;
}

caption {
    text-align: center;
    padding: 0;
}